<footer class="w-full leading-loose rounded p-4 bg-gray-700 text-white">
    Projek konverter aksara Sunda terinspirasi dari aplikasi Android <a href="https://play.google.com/store/apps/details?id=ce.konverteraksarasunda&pcampaignid=web_share" class="underline">Konvertér Aksara Sunda oleh Ihsan Hasanudin</a>
    <br><hr class="my-5">
    <a target="_blank" href="https://github.com/raihankr/web-aksara-sunda"><i>Source Code</i> (Github)</a>
    <br>
    <a target="_blank" href="mailto:rkhairulrochman912@@gmail.com">Kontak/Laporkan <i>Bug</i></a>
    <p target="_blank" class="text-center">&copy; 2023 Raihan Khairul Rochman</p>
</footer>